{% trans_default_domain "CleverwebMailsBundle" %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<h1>{{ 'layout.title.cleverweb.mails'|trans }}</h1>
{% block cwm_main %}
{% endblock %}
</body>
</html>