{% extends "CleverwebMailsBundle::layout.html.twig" %}

{% trans_default_domain "CleverwebMailsBundle" %}

{% block cwm_main %}
    {% if result == false %}
        {{ 'unsubscribe.error'|trans }}
    {% else %}
        {{ 'unsubscribe.succefully'|trans }}
    {% endif %}
{% endblock %}
