{% if admin.isGranted('EDIT', object) and admin.hasRoute('turnon') and not object.enabled %}
    <a href="{{ admin.generateObjectUrl('turnon', object) }}"
       class="btn edit_link"
       title="{{ 'action_turnon'|trans({}, 'CleverwebMailsBundle') }}"><i class="icon-ok-circle"></i></a>
{% endif %}
