{% if admin.isGranted('EDIT', object) and admin.hasRoute('turnoff') and object.enabled %}
    <a href="{{ admin.generateObjectUrl('turnoff', object) }}"
       class="btn edit_link"
       title="{{ 'action_turnoff'|trans({}, 'CleverwebMailsBundle') }}"><i class="icon-ban-circle"></i></a>
{% endif %}
