{% extends sonata_block.templates.block_base %}

{% trans_default_domain "CleverwebMailsBundle" %}

{% block block %}
    <h3 class="sonata-feed-title">{{ settings.title|trans }}</h3>
    <div class="sonata-feeds-container">
        <table class="table table-bordered table-striped sonata-ba-list">
            <thead>
            <tr>
                <th colspan="3">{{ 'dashboard.queue_manager.mailings'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for m in active_mailings %}
                <tr>
                    <td class="sonata-ba-list-label">
                        <a href="{{ path('admin_mailing_edit', {'id' : m.mailing.id }) }}">{{ m.mailing.name }}</a>
                    </td>
                    <td class="sonata-ba-list-label" title="{{ 'mailing.status.line_info'|trans }}">
                        {{ m.sent }}/{{ m.all }}/{{ m.readCount }}
                    </td>
                    <td class="sonata-ba-list-label">
                        <div class="btn-group">
                            <a class="btn btn-small" href="{{ path('qm_admin_restart_queue', {'id' : m.mailing.id}) }}"
                               title="{{ 'dashboard.queue_manager.restart_queue'|trans }}">
                                <i class="icon-refresh"></i>
                            </a>
                            <a class="btn btn-small" href="{{ path('qm_admin_stop_queue', {'id' : m.mailing.id}) }}"
                               title="{{ 'dashboard.queue_manager.stop_mailing'|trans }}">
                                <i class="icon-ban-circle"></i>
                            </a>
                            <a class="btn btn-small"
                               href="{{ path('qm_admin_stop_and_clean', {'id' : m.mailing.id}) }}"
                               title="{{ 'dashboard.queue_manager.stop_and_clean'|trans }}">
                                <i class="icon-remove"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}