{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% trans_default_domain 'CleverwebMailsBundle' %}

{% block field %}
    {% if object.filter == '' or object.filter == null %}
        {% set filter = 'mailing.filter.all' %}
    {% else %}
        {% set filter = 'mailing.filter.'~object.filter %}
    {% endif %}
    <div>
        <strong>{{ filter|trans }}</strong> <br/>
    </div>
{% endblock %}