{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% trans_default_domain('CleverwebMailsBundle') %}

{% block title %}
    {% if admin.id(object) %}
        {{ "title_edit"|trans({'%name%': admin.toString(object) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock %}

{% block actions %}
    <div class="sonata-actions btn-group">
        {% include 'SonataAdminBundle:Button:show_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:history_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:create_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:list_button.html.twig' %}
    </div>
{% endblock %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}{% endblock %}

{% use 'SonataAdminBundle:CRUD:base_edit_form.html.twig' with form as parentForm %}

{% block form %}
    <div class="span9">
        {{ block('parentForm') }}
    </div>
    {% if object.html is defined %}
        <div class="span3">
            <h5>{{ 'letter.variables_title'|trans }}:</h5>

            {{ render(controller('CleverwebMailsBundle:Tokens:getTokens')) }}
        </div>
    {% endif %}
{% endblock %}
